<div class="app">
    <!-- Header -->
    <header class="app-header">
        <div class="header-left">
            <img src="/images/logo.jpg" class="app-logo" alt="logo">
            <h1>Shopp-E</h1>
        </div>
        <app-navbar></app-navbar>
    </header>

    <!-- Hero Section -->
    <div class="hero">
        <section class="hero-content">
            <router-outlet></router-outlet> <!-- Displays Child Components -->
        </section>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 All Rights Reserved | Sonu's Inc</p>
    </footer>
</div>